<!DOCTYPE html>
<html lang="en" ng-app="mewifyApp">

<head>
    <title>Mewify</title>
    <script type="text/javascript" src="scripts/libs/angular.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <script>
    </script>
</head>

<body>
    <section ng-controller='configCtrl'>
        RPC port:
        <input type="text" ng-model="port">
        <br> IPC path:
        <input type="text" ng-model="ipc">
        <br> Keystore location:
        <input type="text" ng-model="keystore">
        <br> MEW handle pass:
        <input type="checkbox" value="true" ng-model="mewPass">
        <br> MEW Node:
        <select ng-model="node">
            <option>ETH</option>
            <option>ROPSTEN</option>
        </select>
    </section>
</body>

</html>
