<!DOCTYPE html>
<html lang="en" ng-app="mewifyApp">

<head>
  <meta charset="utf-8">
  <title>Mewify: No more syncing the chain.</title>
  <link rel="canonical" href="https://www.mewify.com" />
  <meta name="description" content="Interact with DApps locally...without syncing the chain.">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/mewify-master.min.css">
  <script type="text/javascript" src="js/mewify-native.min.js"></script>
  <script type="text/javascript" src="js/mewify-master.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="images/manifest.json">
  <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#630a4a">
  <meta name="theme-color" content="#450934">
</head>

<body class="home">

  <header>
    <section class="container">
      <img src="images/mewify-logo.svg" height="64px" width="auto" alt="Mewify" />
      <div class="tagline"> No more syncing the chain &middot; v0.0.1 </div>
    </section>
  </header>





  <article class="container" ng-controller='configCtrl'>
    <h1> Enter your Information </h1>

    <div class="form-group">
      <label>RPC port:</label>
      <input class="form-control" type="text" ng-model="clientConfig.httpPort" ng-disabled="disableForm">
    </div>

    <div class="form-group">
      <label>SSL RPC port:</label>
      <input class="form-control" type="text" ng-model="clientConfig.httpsPort" ng-disabled="disableForm">
    </div>

    <div class="form-group">
      <label>IPC path:</label>
      <input class="form-control" type="text" ng-model="clientConfig.ipc[configs.platform]" ng-disabled="disableForm">
    </div>

    <div class="form-group">
      <label>Keystore location:</label>
      <input class="form-control" type="text" ng-model="clientConfig.keystore[configs.platform]" ng-disabled="disableForm">
    </div>

    <div class="form-group">
      <label>MEW Node:</label>
      <select ng-model="clientConfig.node" class="form-control" ng-disabled="disableForm">
        <option ng-repeat="node in clientConfig.mewNodes track by $index" value="{{node}}">{{node.name}}</option>
      </select>
    </div>

    <div class="form-group ">
      <a class="btn btn-info btn-block" ng-click="saveConfig()" ng-show="showSave"> SAVE </a>
      <a class="btn btn-success btn-block" ng-click="start()" ng-show="showStart"> START </a>
      <a class="btn btn-danger btn-block" ng-click="stop()" ng-show="showStop"> STOP </a>
    </div>
  </article>





  <article class="container confirmation-dialog">
    <h1 class="text-danger text-center">Warning!</h3>

    <table class="table text-center"><tbody><tr>
      <td><div id="addressIdenticon" class="med" title="Address Indenticon" blockie-address="{{wallet.getAddressString()}}" watch-var="wallet.getAddressString()"></div></td>
      <td class="mono"> -> <br /> 1 ETH </td>
      <td><div id="addressIdenticon" class="med" title="Address Indenticon" blockie-address="{{tx.to}}" watch-var="tx.to"></div></td>
    </tr></tbody></table>
    <p>
      <span translate="SENDModal_Content_1">You are about to send</span>
      <strong class="mono">1 ETH</strong>
      <span translate="SENDModal_Content_2">to address</span>
      <strong class="mono wrap">0x7cB57B5A97eAbe94205C07890BE4c1aD31E486A8</strong>
    </p>
    <p>
      You are sending on the <strong> ETH Chain </strong> chain, which
      <strong> is not susceptible to replay attacks.</strong>
    </p>
    <p>
      The node you are sending through is provided by <strong>MyEtherWallet</strong>.
    </p>
    <div class="text-center">
      <h4 class="text-danger ">Are you sure you want to do this? </h4>
      <button class="btn btn-default">No, get me out of here</button>
      <button class="btn btn-primary">Yes, send transaction</button>
    </div>

    <div class="text-success text-center"> Success! Your transaction went through! </div>
    <div class="text-danger text-center"> ERROR! Your transaction did not go through! </div>

  </article>








  <footer>
    <div class="container">
      <p>A project by MyEtherWallet. Donations appreciated: <span class="mono wrap">0x7cB57B5A97eAbe94205C07890BE4c1aD31E486A8</span></p>
      <p>
        Created by <a href="https://github.com/kvhnuke" target="_blank">kvhnuke</a> & <a href="https://github.com/tayvano" target="_blank">tayvano</a>&nbsp;&nbsp;
        &middot;&nbsp;&nbsp;<a href="https://www.mewify.com" target="_blank">Mewify on Github</a>&nbsp;&nbsp;
        &middot;&nbsp;&nbsp;<a href="https://www.myetherwallet.com" target="_blank">MyEtherWallet.com</a>&nbsp;&nbsp;
        &middot;&nbsp;&nbsp;<a href="mailto:myetherwallet+mewify@gmail.com" target="_blank">Email&nbsp;Us</a>&nbsp;&nbsp;
        &middot;&nbsp;&nbsp;<a href="https://twitter.com/myetherwallet" target="_blank">Follow&nbsp;us&nbsp;on&nbsp;Twitter</a>
      </p>
    </div>
  </footer>
</body>

</html>
